<div class="body">
  <h3 class="title">¡Bienvenid@ {{ this.authService.currentUser.nam }} 😎 !</h3>
  <div class="Navbar" *ngIf="this.authService.isLoggedIn">
    <div>
      <button class="boton" (click)="mostrarComponentePopulares()">
        Peliculas Populares
      </button>
    </div>
    <div>
      <button class="boton" (click)="mostrarComponenteFavoritas()">
        Mis Favoritas
      </button>
    </div>

    <div>
      <a (click)="logOut()">Log out</a>
    </div>
  </div>

  <div class="container">
    <div class="login-container" *ngIf="!this.authService.isLoggedIn">
      <form [formGroup]="formularioIngreso" (submit)="login()">
        <h2>Iniciar Sesión</h2>
        <div class="form-group">
          <label for="usuario">Usuario:</label>
          <input
            type="text"
            id="usuario"
            name="username"
            placeholder="USERNAME"
            formControlName="username"
          />
        </div>
        <div class="form-group">
          <label for="contrasena">Contraseña:</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="PASSWORD"
            formControlName="password"
          />
        </div>
        <div class="form-group">
          <button type="submit">Iniciar Sesión</button>
        </div>
      </form>
    </div>
    <div *ngIf="!this.authService.isLoggedIn">
      <app-register></app-register>
    </div>
  </div>
  <app-favoritas
    *ngIf="this.authService && sharedService.mostrarFavoritas"
  ></app-favoritas>
  <app-search *ngIf="this.authService.isLoggedIn"></app-search>
  <app-cards
    [listaMovies]="listaMovies"
    *ngIf="this.authService.isLoggedIn && sharedService.mostrarPopular"
  ></app-cards>
</div>
