.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin: 20px;
  justify-content: center;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin-right: 20px;
}

button {
  padding: 10px 20px;
  background-color: #630101;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 1px;
}


.search-results h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.search-results ul {
  list-style: none;
  padding: 0;
}

.search-results li {
  font-size: 16px;
  margin-bottom: 5px;
}
